<div class="row">
    <div ng-repeat="card in $ctrl.cards">
        <div class="clearfix" ng-if="$index % 6 == 0"></div>
        <div class="col-xs-6 col-md-2">
            <div class="thumbnail card">
                <img check-image ng-src="{{ card.img }}" />
                <div class="caption">
                    <h3>{{ card.name }}</h3>
                    <h4>{{ card.type }}</h4>
                    <p class="card-text" ng-bind-html="card.text"></p>
                </div>
            </div>
        </div>
    </div>

    <div class="loader" ng-if="$ctrl.isLoading"></div>
</div>